fastapi==0.115.6
uvicorn==0.32.1
python-multipart==0.0.20
numpy
pandas
pillow
opencv-python-headless
torch
torchvision
timm
albumentations
scikit-learn
scipy
matplotlib
reportlab
segmentation-models-pytorch
